$lighten-20-color: #555555;
$lighten-50-color: #ededed;
$lighten-60-color: #f2f2f2;
$lighten-70-color: #f7f7f7;
$black-color: #222222;
$focus-color: #d3f2ff;
$error-color: #a3270c;
$white-color: #ffffff;
